<form role="search" method="get" id="searchform" action="{{site.url}}">
	<div class="row collapse">
		<div class="large-8 small-9 columns">
			<input type="text" value="" name="s" id="s" placeholder="{{ __('Search', 'timber-foundation')|e }}">
		</div>
		<div class="large-4 small-3 columns">
			<input type="submit" id="searchsubmit" value="{{ __('Search', 'timber-foundation')|e }}" class="button postfix">
		</div>
	</div>
</form>