{#

This template simply loads a default colophon in the footer.

#}
<div class="full-width">
	<div class="row colophon" role="contentinfo">
		<div class="large-12 columns">
			<p>&copy; {{"now"|date('Y')}} {{site.name}}.</p>
		</div>
	</div>
</div>